# Pandas Data Series

In [1]:
import numpy as np
import pandas as pd

In [2]:
# 1. Write a Pandas program to create and display a one-dimensional array-like object 
# containing an array of data using Pandas module.

pd.Series([10, 20, 30, 40])

0    10
1    20
2    30
3    40
dtype: int64

In [5]:
# 2. Write a Pandas program to convert a Panda module Series to Python list and it's type

s = pd.Series([10, 20, 30, 40])
print(type(s))

ls = list(s)
print("list: ", ls)
print(type(ls))

<class 'pandas.core.series.Series'>
list:  [10, 20, 30, 40]
<class 'list'>

In [7]:
# 3. Write a Pandas program to add, subtract, multiple and divide two Pandas Series.

ls1 = [2, 4, 6, 8, 10]
ls2 = [1, 3, 5, 7, 9]

s1 = pd.Series(ls1)
s2 = pd.Series(ls2)

s3 = s1 + s2
print(s3)

0     3
1     7
2    11
3    15
4    19
dtype: int64

In [9]:
# 4. Write a Pandas program to compare the elements of the two Pandas Series.

ls1 = [2, 4, 6, 8, 10]
ls2 = [1, 3, 5, 7, 9]

s1 = pd.Series(ls1)
s2 = pd.Series(ls2)

print(s1 == s2)
print(s1 > s2)
print(s1 < s2)

0    False
1    False
2    False
3    False
4    False
dtype: bool
0    True
1    True
2    True
3    True
4    True
dtype: bool
0    False
1    False
2    False
3    False
4    False
dtype: bool

In [11]:
# 5. Write a Pandas program to convert a dictionary to a Pandas series.

d = {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
pd.Series(d)

a    100
b    200
c    300
d    400
e    800
dtype: int64

In [14]:
# 6. Write a Pandas program to convert a NumPy array to a Pandas series.

arr = np.array([10, 20, 30])

ss = pd.Series(arr)
print(type(arr))
print(type(ss))
print(ss)

<class 'numpy.ndarray'>
<class 'pandas.core.series.Series'>
0    10
1    20
2    30
dtype: int32

In [16]:
# 7. Write a Pandas program to change the data type of given a column or a Series.

lst = [100, 200, 'Python', 300.12, 400]

pd.to_numeric(pd.Series(lst), errors='coerce')

0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

In [30]:
# 8. Write a Pandas program to convert the first column of a DataFrame as a Series.

df = pd.read_csv('ex1.csv', header=None, names=list('abcde'))
s = df['a']
s

0    a
1    1
2    5
3    9
Name: a, dtype: object

In [31]:
# 9. Write a Pandas program to convert a given Series to an array.

np.array(s)

array(['a', '1', '5', '9'], dtype=object)

In [38]:
# 10. Write a Pandas program to convert Series of lists to one Series


d = {'a': [100, 110], 'b': [200, 210, 220], 'c': [300, 310, 320]}
pd.Series(i for key, val in d.items() for i in val)

0    100
1    110
2    200
3    210
4    220
5    300
6    310
7    320
dtype: int64

In [46]:
# 11. Write a Pandas program to sort a given Series.

s = pd.Series(['100', '200', 'python', '300.12', '400'])
pd.Series(s).sort_values()

0       100
1       200
3    300.12
4       400
2    python
dtype: object

In [49]:
# 12. Write a Pandas program to add some data to an existing Series

s = pd.Series(['100', '200', 'python', '300.12', '400'])
new = s.append(pd.Series(['java', 'javascript']))
new

0           100
1           200
2        python
3        300.12
4           400
0          java
1    javascript
dtype: object

In [51]:
# 13. Write a Pandas program to change the order of index of a given series.

ss = pd.Series([1, 2, 3, 4, 5], index=list('ABCDE'))
s = ss.reindex(index = ['B','A','C','D','E'])
s

B    2
A    1
C    3
D    4
E    5
dtype: int64

In [53]:
# 14. Write a Pandas program to create the mean and standard deviation of the data of a given Series.

ss = pd.Series([1, 2, 3, 4, 5], index=list('ABCDE'))
ss.describe()

count    5.000000
mean     3.000000
std      1.581139
min      1.000000
25%      2.000000
50%      3.000000
75%      4.000000
max      5.000000
dtype: float64

In [56]:
# 16. Write a Pandas program to get the items of a given series not present in another given series. 

ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([2, 4, 6, 8, 10])

print(set(ser1)-set(ser2))
print(set(ser2)-set(ser1))

{1, 3, 5}
{8, 10, 6}

In [75]:
# 17. Write a Pandas program to display most frequent value in a given series and replace 
# everything else as 'Other' in the series.

ser = pd.Series(np.random.randint(1, 5, [15]))
result = ser[~ser.isin(ser.value_counts().index[:1])] = 'Other'
print(ser)

0     Other
1     Other
2         3
3     Other
4     Other
5     Other
6     Other
7     Other
8     Other
9         3
10    Other
11        3
12        3
13        3
14    Other
dtype: object

In [77]:
# 18. Write a Pandas program to find the positions of numbers that are multiples 
# of 5 of a given series.

ser = pd.Series([11, 12, 30, 25, 17])
result = np.where(ser % 5 == 0)
print(result)

(array([2, 3], dtype=int64),)

In [81]:
# 19. Write a Pandas program to extract items at given positions of a given series.

ser = pd.Series([11, 12, 30, 25, 17])
ser[[0, 4]]

0    11
4    17
dtype: int64

In [94]:
# 20. Write a Pandas program convert the first and last character of each word to upper case 
# in each word of a given series.

lst = ['php', 'python', 'java', 'javascript']
pd.Series(i[0].upper() + i[1:-1] + i[-1].upper() for i in lst)

0           PhP
1        PythoN
2          JavA
3    JavascripT
dtype: object